.main-content {
    display: flex;
    justify-content: center; /* Центрирует содержимое по горизонтали */
    align-items: center; /* Центрирует содержимое по вертикали */
}

.image-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1vw;
    justify-items: center;
    margin-top: 2vh;
}

.image-item {
    margin-top: 5vh;
    width: 8vh;
    height: 10vh;
    margin-left: 5vw;
}

.pdf_c {
    position: absolute;
    margin-top: -9.5vh;
    height: 11vh;
    width: 6.7vh;
    margin-left: 5.5vw;
    clip-path: inset(0 0 3vh 0);
    transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease;
    z-index: 1;
}





.pdf_c.clicked {
    transform: translate(-20%, -5%) scale(1.2); 
    width: auto;
    height: 77vh;
    margin-top: -10vh;
    z-index: 10;
}
