.main-content {
    display: flex;
    justify-content: center; /* Центрирует содержимое по горизонтали */
    align-items: center; /* Центрирует содержимое по вертикали */
}

.image-container {
    display: flex; /* Позволяет располагать изображения в строку */
    gap: 50px; /* Расстояние между изображениями */
}

.image-item {
    margin-top: 5vh;
    width: 24vw;
    height: 77vh;
    margin-left: 5vw;
}

.pdf_c {
    margin-top: -67vh;
    height: 69vh;
    width: 20.2vw;
    margin-left: 7vw;
    clip-path: inset(0 0 5vh 0);
    transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease;
}

/* .pdf_c:hover {
    transform: scale(1.5);  
    width: auto;
    height: 500px;
    z-index: 1000;  
    object-fit: cover;  
}

.pdf_c {
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    width: 300px; 
    height: 400px; 
    z-index: 1000; 
    transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); 
    background: white;
} */


.pdf_c:hover {
    transform: translate(-20%, -5%) scale(1.2); 
    width: auto;
    height: 77vh;
    margin-top: -71vh;
}